// header
.navbar-brand {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 40px;
    font-weight: 700;
}

.logo-title {
    margin-right: 100px;
}


.nav-list {
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
}

//home

.card {
    height: 100%; /* Giúp card có chiều cao đồng đều */
    display: flex;
    flex-direction: column;
}
.card-img-top {
    height: 300px; /* Điều chỉnh chiều cao của ảnh */
    object-fit: cover; /* Cắt ảnh để vừa khít */
}


.card-avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    object-fit: cover; /* Cắt ảnh để vừa khít */
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.card-text {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Giới hạn 3 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-home {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #4e4e4e;
    font-weight: 500;
}

.button-all {
    margin-left: 85%;
}

.card-course-item {
    text-decoration: none !important;
    color: black;
}

// book detail
.card-body-book {
    font-size: 16px;
    font-weight: 600;
}

// footer

.footer {
}
